* {
  font-family: 'Stylish', sans-serif;
}


.title {
    color: white;
    width: 350px;
    height: 250px;
    background-image: url(https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg);
    background-position: center;
    background-size: cover;

    border-radius: 1rem;
    text-align: center;
    padding-top: 40px;
  }
  
  .title_center {
    width: 350px;
    margin: 10px auto;
  }

  
  .wrap{
    width: 900px;
    margin: 20px auto;
  }

  .comment {
    color: blue;
    font-weight: bold;
  }

  .box {
    width: 450px;
    margin: 10px auto 30px auto ;
    border:3px solid black;
    border-radius: 5px;
    padding: 50px;
    display: none;
  }
